{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Calender App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
	{% block content %}

	{% endblock %}
<script type="text/javascript" src="{% static 'myapp/js/script.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  	var csrf_token = '{{ csrf_token }}'
  </script>
</body>
</html>