{% extends 'myapp/base.html' %}

{% block content %}

<div class="container">
	<br>
	<div class="row">
		<div class="col-lg-4">
			<h1>Add New Event !</h1>
		</div>
		<div class="col-lg-8">
			<a href="{% url 'calender' %}" class="btn btn-warning">Go Back</a>
		</div>
	</div>
	<hr>
	<form method="POST">
    {% csrf_token %}
    {% for field in form %}
      {{ field.errors }}
      <label>{{ field.label }}</label>
      <input placeholder="{{ field.label }}" name="{{ field.name }}" class="form-control" />
    {% endfor %}
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


{% endblock %}